//colors

$account-header: linear-gradient(54.74deg, #DB4DFF 34.37%, #26E2E2 81.91%);
$background-avatar:linear-gradient(54.74deg, #1F3197 34.37%, #4F109D 71.51%, #A71580 121.28%);
$blue-color: #01b4e4;
$blue-dark: radial-gradient(at 30% top, #031d33 0%, rgba(3,37,65, 1) 70%);
$header: rgba(3, 37, 65, 1);
$text: #fff;

//params
$header-height: 52px;